@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 224, 76%, 48%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 40, 11%, 95%;
    --secondary-foreground: 0, 1%, 42%;
    --tertiary: 199, 87%, 18%;
    --tertiary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --detail: 358, 73%, 41%;
    --detail-foreground: 210 40% 98%;
    --detail-secondary: 350, 82%, 61%;
    --detail-secondary-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* ======================== Estilos para animacion de carrusel infito ============================= */
.carousel {
  overflow: hidden;
  background: white;
  white-space: nowrap;
  position: relative;
}

.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.carousel:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.carousel:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.carousel:hover .logos-slide {
  animation-play-state: paused;
}

.logo-carousel-animation {
  animation: 20s infinite-carousel infinite linear;
}

@keyframes infinite-carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* ============================= Estilo de carga ======================================== */
/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid #f3f3f390;
  border-right-color: #ffffff;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

/* Dashboard */
.dashboard-screen {
  height: calc(100vh - 56px);
  width: 100%;
}

.dashboard-container-shadow {
  box-shadow: 0px 0px 8px 0px #BBBBBB;
  border-radius: 8px;

}

/* Students home */
.students-home {
  height: calc(100vh - 74.5px);
  width: 100%;
}